<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joezeo.atcrowdfunding.manager.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.joezeo.atcrowdfunding.bean.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="loginacct" jdbcType="VARCHAR" property="loginacct"/>
        <result column="userpswd" jdbcType="CHAR" property="userpswd"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="createtime" jdbcType="CHAR" property="createtime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, loginacct, userpswd, username, email, createtime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByLoginInfo" parameterType="map" resultType="com.joezeo.atcrowdfunding.bean.User">
        select * from t_user
        where loginacct = #{loginacct}
        and userpswd = #{userpswd}
    </select>

    <select id="selectByPage" resultType="user"
            parameterType="map">
        select * from t_user
        <where>
            <if test="loginAcct!=null and loginAcct!=''">
                loginAcct like concat("%",#{loginAcct},"%")
            </if>
        </where>
        order by createtime desc
        limit #{pageInfo.startIndex},#{pageInfo.pageSize}
    </select>

    <select id="selectUserCount" resultType="_int">
        select count(*) from t_user
        <where>
            <if test="loginAcct!=null and loginAcct!=''">
                loginAcct like concat("%",#{loginAcct},"%")
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.joezeo.atcrowdfunding.bean.User">
    insert into t_user (id, loginacct, userpswd, 
      username, email, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{loginacct,jdbcType=VARCHAR}, #{userpswd,jdbcType=CHAR}, 
      #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createtime,jdbcType=CHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.joezeo.atcrowdfunding.bean.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginacct != null">
                loginacct,
            </if>
            <if test="userpswd != null">
                userpswd,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="loginacct != null">
                #{loginacct,jdbcType=VARCHAR},
            </if>
            <if test="userpswd != null">
                #{userpswd,jdbcType=CHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.joezeo.atcrowdfunding.bean.User">
        update t_user
        <set>
            <if test="loginacct != null">
                loginacct = #{loginacct,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.joezeo.atcrowdfunding.bean.User">
    update t_user
    set loginacct = #{loginacct,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>